<app-header></app-header>
<div class="header-actions">
  <div>
  <p-button routerLink="/add" class="add-button">Add Product</p-button>
  <p-button class="change-role-btn" (click)="changeRole()">Change User</p-button>
  <span class="active-role">{{ this.storeService.activeRole() }}</span>
  </div>
  <div>
    <input
      type="text"
      placeholder="Search"
      class="search-bar"
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
    />
  </div>
</div>
<div class="container">
  @for (product of this.storeService.filteredProducts(); track product.id) {
    <app-product 
      [image]="product.images[0]"
      [price]="product.price"
      [title]="product.title"
      [productId]="product.id">
    </app-product>
  }
</div>

<p-confirmDialog></p-confirmDialog>
